@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Fraunces:wght@900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Barlow', sans-serif;
  font-family: 'Fraunces', serif;
}

.nav__wrapper{
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;


  img{
    // width: 235px;
    // height: 25px;
    // margin: 44px 81px;
  }

  ul{
    display: flex;
    gap: 25px;
    list-style: none;
    margin: 50px 0;
    // width: 283px;
    height: 15px;

    a{
      text-decoration: none;
      font-family: 'Barlow';
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      line-height: 15px;
      letter-spacing: 0.923077px;
      text-transform: uppercase;
      color: #83888F;
      transition: all .3s ease;
    }

    a:hover{
      font-family: 'Barlow';
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      line-height: 15px;
      letter-spacing: 0.923077px;
      text-transform: uppercase;
      color: #333D4B;
    }
  }
}


.hero__section{
  max-width: 1102px;
  height: 450px;
  margin: 0 auto;
  background-image: url(../images/hero__bg.png);
  // background-size: contain;
  background-repeat: no-repeat;
  // background-color: #A2A2A2;
  border-radius: 10px;
  background-position: center center;


  h2{
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
    padding: 160px 0 25px 85px;
  }

  p{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    padding: 0 590px 100px 85px;
    // background-color: #a2a2a2;
  }
}

.commitment{
  display: flex;
  max-width: 950px;
  margin: 100px auto;
  height: 520px;
  // background-color: #83888F;
  flex-direction: column;
  background-image: url(../images/commitment.png);
  background-repeat: no-repeat;
  // background-size: contain;
  background-size: 350px 425px;
  // background-position-y: -50px;


  h2{
    padding-top: 50px;
    padding-bottom: 32px;
    padding-left: 410px;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #333D4B;
    display: block;
  }

  p{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
    mix-blend-mode: normal;
    opacity: 0.8;
    width: 538px;
    // padding-left: 300px;
    align-self: flex-end;
  }
}

.quality__section{
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 250px;
  background: #2C343E;
  border-radius: 10px;
  position: relative;

  .content__text{
    h2{
      font-family: 'Fraunces 9pt';
      font-style: normal;
      font-weight: 900;
      font-size: 40px;
      line-height: 48px;
      color: #FEFCF7;
      padding: 100px 0 32px 85px;
    }

    p{
      font-family: 'Barlow';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: #FEFCF7;
      mix-blend-mode: normal;
      opacity: 0.8;
      padding-bottom: 105px;
      padding-left: 85px;
      // padding-right: 480px;
      margin-bottom: 50px;
      width: 540px;
    }
  }

  img{
    position: absolute;
    top: -75px;
    right: 60px;
    border-radius: 8px;
  }

}

.map__section{
  max-width: 1100px;
  margin: 0 auto;
  padding-left: 85px;
  margin-bottom: 150px;


  h2{
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
    padding-bottom: 72px;
  }

  ul{
    display: flex;
    list-style-type: none;
    gap: 100px;
    align-items: center;
    gap: 170px;
    // justify-content: space-around;

    img{
      padding-bottom: 45px;
    }

    h3{
      padding-bottom: 25px;

    }


  }
}

.footerr{
  display: flex;
  background-color: #2C343E;


  .footer{
    max-width: 1100px;
    margin: 0 auto;
    // height: 120px;
    // padding: 0 200px;


    ul{
      width: 1000px;
      display: flex;
      align-items: center;
      list-style: none;
      // gap: 170px;
      justify-content: space-between;


      li{
        display: flex;
        padding: 47px 0;
        width: 283px;
        gap: 30px;


        a{
          font-family: 'Barlow';
          font-style: normal;
          font-weight: 700;
          font-size: 12px;
          line-height: 15px;
          letter-spacing: 0.923077px;
          text-transform: uppercase;
          color: #83888F;
          text-decoration: none;
          gap: 50px;
        }

        img{
          gap: 25px;
        }
      }
    }
  }
}
